@import url(../fonts/fonts.css);

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background-color: #f2faff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  color: #f5f5f5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__menu-item {
  list-style: none;
}

.header__menu-link {
  position: relative;
  display: inline-block;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
}

.header__menu-item_active.header__menu-link {
  cursor: default;
}

.header__menu-item_active.header__menu-link::after {
  background-color: transparent;
  cursor: default;
}

.cover {
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 339px 198px;
}

.cover__title {
  padding: 8px 24px 4px 20px;
}

.cover__accent-span {
  display: block;
  color: #ffffff;
  font-family: Ebgaramond, serif;
  font-size: 72px;
  /* font-weight: 100; */
  line-height: 100%;
  letter-spacing: -0.5px;
}

.cover__text-center {
  text-align: center;
}

.cover__text-right {
  text-align: end;
}

.intro {
  padding: 30px 20px 38px;
  font-size: 16px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.intro__title {
  color: #ccc;
  line-height: 1.2;
}

.intro__date {
  color: #ccc;
  line-height: 1.2;
  white-space: nowrap;
}

.intro__main-text {
  font-size: 16px;
  line-height: 1.35;
}

.intro__text:first-child {
  margin-bottom: 24px;
}

.reasons {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  padding: 40px 20px 38px;
}

.how-to {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 40px 20px 60px;
}

.reasons__title,
.how-to__title {
  display: flex;
  flex-direction: column;
}

.reasons__title-item,
.how-to__title-item {
  font-family: "Ebgaramond";
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.reasons__title-item:first-child,
.how-to__title-item:first-child {
  align-self: end;
}

.reasons__intro,
.how-to__intro {
  font-size: 20px;
  line-height: 1.35;
}

.reasons__list {
  padding-left: 14px;
}

.reasons__list-item {
  font-size: 16px;
  line-height: 1.35;
}

.reasons__list-item:not(:last-child) {
  margin-bottom: 17px;
}

.reasons__list-accent {
  font-weight: 700;
}

.how-to__list {
  list-style: none;
}

.card {
  border-radius: 30px;
  padding: 20px 21px 20px;
}

.how-to__list-item:not(:last-child) {
  margin-bottom: 34px;
}

.card_theme_dark {
  color: #f5f5f5;
  background-color: #343434;
}

.card_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.card__author {
  margin-bottom: 6px;
}

.card__figcaption {
  margin-top: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
}

.card__title {
  font-family: "Ebgaramond";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.35;
}

.card__content {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.35;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fee42a;
  padding: 20px;
}

.footer__copy {
  font-size: 16px;
  line-height: 1.35;
}

.footer__link-item {
  margin-left: 12px;
  color: #f5f5f5;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}
